BLOGBOT_TOKEN=your_bot_token_here
BLOGBOT_BOT_API_URL=http://127.0.0.1:8082
BLOGBOT_CHANNEL_ID=-1001667272666
BLOGBOT_SITE_ROOT=/home/d7tun6/files/mounts/TS480SSD/services/site/d7tun6
BLOGBOT_STATE=blogbot-state.json
BLOGBOT_TMP=tmp